.color-primary {
  color: @primary;
}
.color-secondary {
  color: @secondary;
}
.color-success {
  color: @success;
}
.color-info {
  color: @info;
}
.color-warning {
  color: @warning;
}
.color-danger {
  color: @danger;
}

.color-primary-hover:hover {
  color: @primary;
}
.color-secondary-hover:hover {
  color: @secondary;
}
.color-success-hover:hover {
  color: @success;
}
.color-info-hover:hover {
  color: @info;
}
.color-warning-hover:hover {
  color: @warning;
}
.color-danger-hover:hover {
  color: @danger;
}
