/**
  * 750设计稿情况下1px在手机上展示0.5
  */
@mixin one-px($direction: bottom, $color: #eee) {
  position: relative;
  &::after {
    content: "";
    display: block;
    background-color: $color;
    transform: scaleY(0.5);
    #{$direction}: 0;
    position: absolute;

    @if $direction == top or $direction == bottom {
      height: 1px;
      right: 0;
      left: 0;
      transform: scaleY(0.5);
    }

    @if $direction == right or $direction == left {
      width: 1px;
      bottom: 0;
      top: 0;
      transform: scaleX(0.5);
    }
  }
}
