@mixin ellipsis($lines: 1, $width: 100%) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if $lines==1 {
    width: $width;
    white-space: nowrap;
  }
  @if $lines>1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    word-break: break-all;
  }
}

@mixin word-break() {
  white-space: normal;
  word-wrap: break-word;
  word-break: break-all;
}
