@mixin triangle($direction: right, $width: 10px, $color: #333) {
  $map-direction: (
    top: bottom left right,
    bottom: top left right,
    left: right top bottom,
    right: left top bottom
  );
  @if not map-has-key($map-direction, $direction) {
    @error "arrow $direction 必须为：#{map-keys($map-direction)}";
  }
  $conf: map-get($map-direction, $direction);
  display: flex;
  align-items: center;
  &:after {
    content: '';
    border-#{nth($conf, 1)}: $width solid $color;
    border-#{nth($conf, 2)}: #{$width / 1.414} solid transparent;
    border-#{nth($conf, 3)}: #{$width / 1.414} solid transparent;
  }
}

@mixin arrow($direction: right, $width: 0.6em, $color: #ccc) {
  $map-direction: (
    top: translateY(35%) rotate(-45deg),
    bottom: translateY(-35%) rotate(135deg),
    left: translate(35%) rotate(-135deg),
    right: translate(-35%) rotate(45deg)
  );
  @if not map-has-key($map-direction, $direction) {
    @error "arrow $direction 必须为：#{map-keys($map-direction)}";
  }
  $transform: map-get($map-direction, $direction);
  display: flex;
  align-items: center;
  &:after {
    content: '';
    display: block;
    width: $width;
    height: $width;
    border-top: 1px solid $color;
    border-right: 1px solid $color;
    transform: $transform;
    margin-left: 0.5em;
  }
}
