
.full {
  width: 100%;
  height: 100%;
}

.clear:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis-mul {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.arrow-box {
  @include arrow(10px, 2px, right, #ccc, white, relative);
  height: 20px;
  margin-left: 5px;
}

.cover {
  background-size: cover;
  background-position: center center;
  &>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.center-transform {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.center-absolute {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pointer {
  cursor: pointer;
}
