// 常用flex
.flex {
  display: flex;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.flex1 {
  flex: 1;
}
.flex-column, .column-flex {
  display: flex;
  flex-direction: column;
}
.flex-between, .between-flex {
  display: flex;
  justify-content: space-between;
}
.flex-middle, .middle-flex {
  display: flex;
  align-items: center;
}
.flex-center, .center-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
