@keyframes line-scale-pulse-out {
  0% {
    transform: scaley(1.0);
  }
  50% {
    transform: scaley(0.4);
  }
  100% {
    transform: scaley(1.0);
  }
}

.k-line-pulse {

  > div {
    width: 4px;
    height: 25px;
    background-color: $color-primary;
    animation-fill-mode: both;
    display: inline-block;
    margin: 1px;
    animation: line-scale-pulse-out 0.9s delay(0.2s, 3, 0) infinite cubic-bezier(.85,.25,.37,.85);

    &:nth-child(2), &:nth-child(4) {
      animation-delay: delay(0.2s, 3, 1) !important;
    }

    &:nth-child(1), &:nth-child(5) {
      animation-delay: delay(0.2s, 3, 2) !important;
    }

  }
}