@import './text.scss';
@import './triangle.scss';
@import './one-px.scss';
@import './balloon.scss';
@import './center.scss';

// 快速画圆
@mixin balls($ball-size: 15px, $margin: 2px) {
  background-color: $color-primary;
  width: $ball-size;
  height: $ball-size;
  border-radius: 100%;
  margin: $margin;
}
