// button
.k-button {
  appearance: none;
  border-radius: 4px;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-size: 18px;
  height: 41px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 0 10px;
  margin: 5px;
  border: 1px solid #eee;
  cursor: pointer;
  &::after {
    content: '';
    opacity: 0;
    display: block;
    background: black;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
  }
  &:active::after {
    opacity: 0.2;
  }
  &.primary {
    border: none;
    color: #fff;
    background-color: #26a2ff;
  }
  &.danger {
    border: none;
    color: #fff;
    background-color: #ef4f4f;
  }
}
