// input
.k-input {
  border: 1px solid #eee;
  border-radius: 2px;
  padding: 4px 5px;
  width: 100%;
  appearance: none;
  outline: none;
  box-sizing: border-box;
  &:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}
