@import './utils'; // mixins
@import './iconfont.scss'; // iconfont
@import './reset.scss'; // reset
@import './helper'; // general
@import './k'; // components
@import './animate'; // animated

.k-test {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  @include one-px(left);
}
